@-webkit-keyframes scaling {
    From {
        -webkit-transform: scale(1.10);
    }
    To {
        -webkit-transform: scale(1.25);
    } }
        img.scaler1 img.scaler2 img.scaler3 { display:none
        }
        img.scaler1:hover{
            -webkit-animation: scaling 0.4s infinite alternate;
            animation-play-state: running;
           
        } 
        div.flex {
            display: flex;
            top: 0;
            position: relative;
        }
        div.title{
            font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            margin: left;
            margin-bottom: 10px;
        }
    
        div.static {
            font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
           
            color: white;
            background-color: #014c7e;
            border: 6px solid #f2f2f2;   
            box-shadow: 
            inset 0 0 0 4px #989898,
            inset 0 0 0 7px #001a1d;
            
            margin-left: 100px;
            margin-top: 40px;
            white-space: normal;
            width: 230px;
            height: 215px;
            border-radius: 18px;
            text-shadow:2px 2px black;
             }
        #statica{
            padding-left: 20px;
            width: 650px;
            margin-right: 20px;
            margin-bottom: 10px;
            font-size: large;
            display: inline-block;
            letter-spacing: -1px;
            word-spacing: 4px;
        }
        
        .selector-for-some-widget {
          box-sizing: content-box;
        }
        
        div.head {font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            text-align: center;
            width: 500px;
             height: 200px;
             margin: auto;
             color: rgb(188, 214, 247);
        }
         
          div.h1 {font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
              text-align: center;
             border-bottom: white solid;
             width: 30%;
             height: 200px;
             margin-left: 35%;
             margin-top: 2%;
             padding-top: 10px;

             color: rgb(188, 214, 247);
             text-shadow:2px 2px black;
    
          }
		  h1.bor{ font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
			border-top: black solid;
            padding-top: 50px;
			margin-right: 10px;
			
		  }
		  div.h1_home{
        font-family: myFirstFont;
			src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
			text-align: center;
		   border-bottom: white solid;
		   width: 700px;
		   height: 50px;
		   font-size: 2em;
        font-weight: 100;
		  margin-left: 27%;
		  margin-top: 25px;
		   color: rgb(201, 188, 247);
		   text-shadow:2px 2px black;
		  }
          div.h1_blog{font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            background-color: #014c7e;
            border: 6px solid #f2f2f2;   
            box-shadow: 
            inset 0 0 0 4px #989898,
            inset 0 0 0 7px #001a1d;
             padding-left: 25px;
            padding-top: 10px;
             color: white;
             text-shadow:2px 2px black;
             
          }
		  h1.bee{font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            text-align: center;
			font-size:50px;
			font-weight: 700;
			text-shadow:2px 2px black;
		  }
      h2.bee{font-family: myFirstFont;
        src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
        text-align: center;
  font-size:25px;
  font-weight: 700;
  text-shadow:2px 2px black;
  }
  li.idk {
    font-family: myFirstFont;
        src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
        color: white;
  }
          p.date{
			font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
			font-size: small;
		  }
      ul.chevron li img{
        width: 50px;
    }
    
          div.body {
            font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            width:auto;
            font-size: large;
            text-shadow:2px 2px black; 
            background-color: #014c7e;
            border: 6px solid #f2f2f2;   
            box-shadow: 
            inset 0 0 0 4px #989898,
            inset 0 0 0 7px #001a1d;

            margin-top: 10px;
              color: white;
              line-height: 40px;
              letter-spacing: -1px;
            word-spacing: 4px;
            margin-left: 15%;
            margin-right: 15%;

              
  overflow: scroll;
          }
         
          div.navi {
            font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            background-color: #005f88;
            border: 6px solid #f2f2f2;   
            box-shadow: 
            inset 0 0 0 4px #989898,
            inset 0 0 0 7px #001a1d;
            position: fixed; 
            bottom: 0; 
            overflow: hidden; 
            margin-left: 55%; 
            color: white;
            width: 225px;
            height: 85px;
            border-radius: 18px;
            text-shadow:2px 2px black;
            text-align: left;
            font-size: large;
            display: flex;
            justify-content: center;
              align-items: center;
            margin-bottom: 15px;
            padding-right: 20px;
          }
          .homeba{
            display:flex;
            justify-content: space-around;
            margin-bottom:100px;
           
          }
          div.insp {
              top: 0;
              left: 0;
              padding-left: 30%;
              white-space: pre-line;
              color:white;
              display: none; 
              position: fixed;
              background-color: rgba(0, 0, 0, 0.5);
              padding-top: 100px;
              width: 100%;
              height: 100%;
              overflow: auto;
              font-family: myFirstFont;
              src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
              z-index: 1;
             }
            div.insp-content{
                
            font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            
            color: white;
            background-color: #816c1d;
           
            border: 6px solid #f2f2f2;   
            box-shadow: 
            inset 0 0 0 4px #989898,
            inset 0 0 0 7px #001a1d;
           
            margin-right: 200px;
            margin-top: 40px;
            padding-left: 100px;
            width: 550px;
            height: 300px;
            border-radius: 18px;
            text-shadow:2px 2px black;
            white-space: pre-line;
            letter-spacing: -1px;
            word-spacing: 4px;

  overflow: scroll;
            }
            body {
                background-color: rgb(10, 10, 10);
              
                background-repeat: no-repeat;
                background-size: cover;
              
            }
            a.saa{ 
              font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
               color: tomato;
              text-shadow: none;
              text-decoration: none;
    vertical-align: baseline;
            }
            a.saa:hover{
              background-color: rgba(255, 99, 71, 0.233);
			  text-decoration: underline;
            }
			a.saaa{ 
				color: white;
				font-weight: 700;
			   text-shadow: none;
			   text-decoration: none;
	 vertical-align: baseline;
	 text-shadow:2px 2px black;
			 }
			 a.saaa:hover{
			   background-color: rgba(255, 99, 71, 0.233);
			   text-decoration: underline;
			   text-shadow:2px 2px black;
			 }
          div.home{
			  color: rgb(131, 204, 218);
			  text-align: center;
              line-height: 40px;
		  }
         @font-face {
            font-family: myFirstFont;
            src: url("oldsite/goldensun-font/Golden-Sun.woff2"); }
			
    .img-darrow {
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;width: 50px; height: 40px; overflow: hidden;position: fixed;bottom: 0; margin-left: 43%;margin-bottom:125px;
    }
    .img-blog{
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges; width: 100px; height: 100px; overflow: hidden;position: fixed;bottom: 0; margin-left: 33.9%;margin-bottom:13px;
    }
    .img-about{
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges; width: 100px; height: 100px; overflow: hidden;position: fixed;bottom: 0; margin-left: 40.9%;margin-bottom:13px;
    }
    .img-site{
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges; width: 100px; height: 100px; overflow: hidden;position: fixed;bottom: 0; margin-left: 40.9%;margin-bottom:13px;
    }
    .img-home{
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges; width: 100px; height: 100px; overflow: hidden;position: fixed;bottom: 0; margin-left: 47.9%;margin-bottom:13px;
    }
    .img-djinn{
      width: 100px;height: 100px;
    }
    .img-isaacwave{
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges; width: 60px; height: 93px; overflow: hidden;position: fixed; margin-left:350px;
    }
    .img-gslogo{
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges; width: 200px; height: 100px; overflow: hidden;position: fixed; margin-left:150px;
    }
    .img-joy{
      image-rendering: pixelated;image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges; width: 100px; height: 100px; overflow: hidden;position: absolute;
    }
            @media (max-width: 1023px) { 
              div.h1_home{
                width: 500px;
		   height: 50px;
		   font-size: 1.5em;
        font-weight: 100;
		  margin-left: 27%;
              }
               .img-darrow{
                margin-left: clamp(5%,35.5%,43%);
               }
               .img-site{
                margin-left: clamp(5%,16%,27%);
               }
               .img-blog{
                margin-left: clamp(5%,25.5%,33.9%);
               }
               .img-about{
                margin-left: clamp(5%,34.5%,40.9%);
               }
               .img-home{
                margin-left: clamp(5%,43.5%,47.9%);
               }
               div.navi{
                margin-left: clamp(5%,52.5%,60%);
               }
            }
            @media (max-width: 924px) { 
              div.insp {
                top: 0;
                left: 0;
                padding-left: 15%;
                white-space: pre-line;
                color:white;
                display: none; 
                position: fixed;
                background-color: rgba(0, 0, 0, 0.5);
                padding-top: 100px;
                width: 100%;
                height: 100%;
                vertical-align: middle;
               }
              div.h1_home{
                width: 500px;
		   height: 50px;
		   font-size: 1.5em;
        font-weight: 100;
		  margin-left: 21%;
              }
              .img-darrow{
                margin-left: clamp(5%,33.5%,43%);
                margin-bottom:calc(125px - 5px);
               }
              .img-site{
               margin-left: clamp(5%,10%,27%);
              }
              .img-blog{
               margin-left: clamp(5%,21.5%,33.9%);
              }
              .img-about{
               margin-left: clamp(5%,32.5%,40.9%);
              }
              .img-home{
               margin-left: clamp(5%,43.5%,47.9%);
              }
              div.navi{
               margin-left: clamp(5%,54.5%,60%);
              }
           }
           @media (max-width: 768px) { 
            div.h1_home{
              width: 400px;
     height: 50px;
     font-size: 1.5em;
      font-weight: 100;
    margin-left: 22%;
            }
            #statica{
              font-size: medium;
              padding-left: 10px;
              width: 650px;
              margin-right: 15px;
              margin-bottom: 10px;
              
            }
            .img-darrow{
              margin-left: clamp(5%,33.5%,40.9%);
             width: calc(50px * 0.75);
             height: calc(40px * 0.75);
             margin-bottom:calc(125px - 25px);
             }
            .img-site{
             margin-left: clamp(5%,10%,27%);
             width: 75px;
             height: 75px;
             
            }
            .img-blog{
             margin-left: clamp(5%,21.5%,33.9%);
             width: 75px;
             height: 75px;
            }
            .img-about{
             margin-left: clamp(5%,32.5%,40.9%);
             width: 75px;
             height: 75px;
            }
            .img-home{
             margin-left: clamp(5%,43.5%,47.9%);
             width: 75px;
             height: 75px;
            }
            div.navi{
              margin-left: clamp(0%,calc(54.5% - 0%),60%);
              width: calc(225px * 0.75);
               height: calc(85px * 0.75);
               
               padding-left: 10px;
             }
             .img-djinn{
               width: calc(100px * 0.5);
               height: calc(100px * 0.5);
             }
             div.h1{
              
               font-size: 10px;
               height: 150px;
             }
         }
         @media (max-width: 668px) { 
          div.insp {
            top: 0;
            
            padding-right: 10%;
            white-space: pre-line;
            color:white;
            display: none; 
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            padding-top: 100px;
            width: 75%;
            height: 75%;
            vertical-align: middle;
           }
          div.h1_home{
            width: 300px;
   height: 50px;
   font-size: 1.2em;
    font-weight: 100;
  margin-left: 23%;
          }
          .homeba{
            display: block;
            justify-content: space-between;
            
          }
          .img-darrow{
            margin-left: clamp(5%,33.5%,40.9%);
           width: calc(50px * 0.75);
           height: calc(40px * 0.75);
           margin-bottom:calc(125px - 25px);
           }
          .img-site{
           margin-left: clamp(5%,10%,27%);
           width: 75px;
           height: 75px;
           
          }
          .img-blog{
           margin-left: clamp(5%,21.5%,33.9%);
           width: 75px;
           height: 75px;
          }
          .img-about{
           margin-left: clamp(5%,32.5%,40.9%);
           width: 75px;
           height: 75px;
          }
          .img-home{
           margin-left: clamp(5%,43.5%,47.9%);
           width: 75px;
           height: 75px;
          }
          div.navi{
            margin-left: clamp(0%,calc(54.5% - 0%),60%);
            width: calc(225px * 0.75);
             height: calc(85px * 0.75);
             
             padding-left: 10px;
           }
           .img-djinn{
             width: calc(100px * 0.5);
             height: calc(100px * 0.5);
           }
           div.h1{
             font-size: 10px;
             height: 150px;
           }
           #statica{
            font-size: medium;
            padding-left: 10px;
            width: 650px;
            margin-right: 10px;
            margin-bottom: 10px;
            
          }
       }
         @media (max-width: 506px) { 
         .img-isaacwave{
          width: 30px; 
          height: calc(93px * 0.5); 
           margin-left:150px;
         }
         .img-gslogo{
           width: 100px;
            height: 50px; 
            margin-left:50px;
        }
        .img-joy{
          width: 50px; height: 50px; 
          margin-top: 5px;
        }
           div.insp-content{
                
            margin-right: 400px;
            
            font-size: x-small;
           
            margin-top: 40px;
           
            width: calc(550px *0.37);
            height: calc(300px *0.85);
            

  overflow: auto;
            }
          div.h1_home{
            width: 170px;
   height: 70px;
   font-size: 1.2em;
    font-weight: 100;
  margin-left: 15%;
          }
           #statica{
             font-size: small;
             padding-left: 10px;
             width: 650px;
             margin-right: 10px;
             margin-bottom: 10px;
             
           }
           .pa {
            font-family: myFirstFont;
            src: url("./oldsite/goldensun-font/Golden-Sun.woff2");
            font-size: small;


          }
           
          .img-darrow{
            margin-left: clamp(5%,calc(32.5% + 6%),40.9%);
            width: calc(50px * 0.75);
            height: calc(40px * 0.75);
            margin-bottom:calc(125px - 50px);
            display: block;
            
           }
          .img-site{
           margin-left: clamp(0%,calc(10% - 6%),27%);
           width: 60px;
           height: 60px;
           margin-bottom:6px; 
          }
          .img-blog{
           margin-left: clamp(0%,calc(21.5% - 0.9%),33.9%);
           width: 60px;
           height: 60px;
           margin-bottom:6px; 
          }
          .img-about{
           margin-left: clamp(0%,calc(32.5% + 5%),40.9%);
           width: 60px;
           height: 60px;
           margin-bottom:6px; 
          }
          .img-home{
           margin-left: clamp(0%,calc(43.5% + 10%),100%);
           width: 60px;
           height: 60px;
           margin-bottom:6px; 
          }
          div.navi{
           margin-left: clamp(0%,calc(54.5% + 15%),100%);
           width: calc(225px * 0.3);
            height: calc(85px * 0.6);
            font-size: 9px;
            padding-left: 10px;
            margin-bottom:6px; 
          }
          .img-djinn{
            width: calc(100px * 0.5);
            height: calc(100px * 0.5);
            margin-bottom:6px; 
          }
         
       }
       @media (max-width: 390px)   { 
        div.home{
          font-size: small;
         
          
        }
        .homeba{
          display: block;
          justify-content: space-between;
          
        }
         .pa {
          font-family: myFirstFont;
          src: url("./oldsite/goldensun-font/Golden-Sun.woff2");

           font-size: small;
         }
        div.h1_home{
          width: 170px;
 height: 50px;
 font-size: 1em;
  font-weight: 100;
margin-left: 15%;
        }
        #statica{
          font-size: small;
          margin-left: 60px;
          width: 350px;
          margin-right: 5px;
          margin-bottom: 10px;
          
        }
       
      
       
       .img-darrow{
         margin-left: clamp(5%,calc(32.5% + 6%),40.9%);
         width: calc(50px * 0.75);
         height: calc(40px * 0.75);
         margin-bottom:calc(125px - 50px);
         display: block;
         
        }
       .img-site{
        margin-left: clamp(0%,calc(10% - 6%),27%);
        width: 60px;
        height: 60px;
        margin-bottom:6px; 
       }
       .img-blog{
        margin-left: clamp(0%,calc(21.5% - 0.9%),33.9%);
        width: 60px;
        height: 60px;
        margin-bottom:6px; 
       }
       .img-about{
        margin-left: clamp(0%,calc(32.5% + 5%),40.9%);
        width: 60px;
        height: 60px;
        margin-bottom:6px; 
       }
       .img-home{
        margin-left: clamp(0%,calc(43.5% + 10%),100%);
        width: 60px;
        height: 60px;
        margin-bottom:6px; 
       }
       div.navi{
        margin-left: clamp(0%,calc(54.5% + 15%),100%);
        width: calc(225px * 0.3);
         height: calc(85px * 0.6);
         font-size: 9px;
         padding-left: 10px;
         margin-bottom:6px; 
       }
       .img-djinn{
         width: calc(100px * 0.5);
         height: calc(100px * 0.5);
         margin-bottom:6px; 
       }
       div.h1{
       
         font-size: 10px;
         height: 150px;
         margin-bottom:6px; 
       }
    }
    